__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
users.db
web_app/static  # если есть большие файлы
.git
.gitignore
Dockerfile
docker-compose.yml
test.py
xpanda_fetch_all_items.py
xpanda_items.json
